<div class='formulaire_spip formulaire_#FORM'>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]


[(#ENV{editable}|oui)
	<form method='post' action='#ENV{action}'><div>
		#ACTION_FORMULAIRE{#ENV{action}}
		
		[(#ENV**{erreurs}|table_valeur{previsualiser}|oui)
			<div class="formulaire_previsualisation">
			<h1><:previsualisation:></h1>
			[(#INCLURE{fond=formulaires/previsu_carte_postale,
				id_carte_postale,
				titre, texte,
				nom_destinataire, email_destinataire,
				nom_expediteur, email_expediteur})]
			<p class="boutons">
				<input type='submit' class='submit' name='envoyer' value='<:carte_postale:envoyer:>' />
			</p>
			</div>
		]
	
		<ul>
			<li class='fieldset fieldset_carte_postale'>
				<h3 class='legend'><:carte_postale:legend_carte:></h3>
				<ul>
					[(#SAISIE{image_article, id_carte_postale, obligatoire=oui,
						label=<:carte_postale:label_carte_postale:>,
						id_article=#ENV{id_article}})]
					[(#SAISIE{input, titre, obligatoire=oui,
						label=<:carte_postale:label_titre:>})]
					[(#SAISIE{textarea, texte, obligatoire=oui,
						label=<:carte_postale:label_texte:>,
						class=no_barre no_previsualisation,
						rows=7})]
				</ul>
			</li>
		</ul>
		<ul>
			<li class='fieldset fieldset_destinataire'>
				<h3 class='legend'><:carte_postale:legend_destinataire:></h3>
				<ul>
					[(#SAISIE{input, nom_destinataire,
						label=<:carte_postale:label_nom_destinataire:>})]
					[(#SAISIE{input, email_destinataire, obligatoire=oui,
						label=<:carte_postale:label_email_destinataire:>})]
				</ul>
			</li>
		</ul>
		<ul>
			<li class='fieldset fieldset_expediteur'>
				<h3 class='legend'><:carte_postale:legend_expediteur:></h3>				
				<ul>
					[(#SAISIE{input, nom_expediteur, label=<:carte_postale:label_nom_expediteur:>})]
					[(#SAISIE{input, email_expediteur, obligatoire=oui,
						label=<:carte_postale:label_email_expediteur:>})]
				</ul>
			</li>
		</ul>
		
		[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
		<!--extra-->
		<p class="boutons">
			<input type='submit' class='submit' name='previsualiser' value='<:previsualiser:>' />
		</p>
	</div></form>
]

</div>
