<div class="formulaire_spip formulaire_config formulaire_#FORM">

[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

<form method="post" action="#SELF"><div>
		#ACTION_FORMULAIRE{SELF}
		<ul>
			[(#SAISIE{couleur,couleur_credits,
				label=<:carte_postale:label_couleur_credits:>,
				explication=<:carte_postale:explication_couleur_credits:>})]

			[(#SAISIE{input,saisie_taille_selection,
				label=<:carte_postale:label_saisie_taille_selection:>,
				defaut=340})]
				
			[(#SAISIE{input,saisie_taille_vignette,
				label=<:carte_postale:label_saisie_taille_vignette:>,
				defaut=60})]

			[(#SAISIE{input,suppression_vieilles_cartes,
				label=<:carte_postale:label_suppression_vieilles_cartes:>,
				explication=<:carte_postale:explication_suppression_vieilles_cartes:>,
				defaut=30})]
		</ul>
		<ul>
			[(#SAISIE{input,redimensionnement,
				label=<:carte_postale:label_redimensionnement:>,
				explication=<:carte_postale:explication_redimensionnement:>,
				defaut=450})]
		</ul>
		<input type="hidden" name="_meta_casier" value="carte_postale" />
		<p class="boutons">
			<input type="submit" value="<:bouton_enregistrer:>" class="submit" />
		</p>
</div></form>
</div>
