[(#REM) Recto ]
<div id="carte_postale">
<BOUCLE_carte_image(DOCUMENTS){id_document=#ENV{id_carte_postale}}{extension IN jpg,png}>
[(#SET{couleur,[(#CONFIG{carte_postale/couleur_credits}
	|substr{1}|sinon{[(#FICHIER|couleur_extraire|couleur_extreme|couleur_inverser)]})]})]
[(#SET{img_credits,[(#CREDITS
	|image_typo{police=dustismo_bold.ttf,taille=12,padding=10,couleur=#GET{couleur}}
	|image_recadre{640,440,bottom right,transparent}
	|extraire_attribut{src})]})]
[(#FICHIER
	|image_passe_partout{640,440}
	|image_masque{#CHEMIN{images/cp/logo.png},mode=normal}
	|image_masque{#GET{img_credits},mode=normal}
	|image_reduire{#CONFIG{carte_postale/redimensionnement,450}}
	|image_graver
	|image_copier_carte_postale{#ENV{id_carte_postale}}
	|img_absolue)]
</BOUCLE_carte_image>

[(#REM) Verso ]

<div id="carte_postale_verso">
	<div class="contenu_carte">
		[<h3 class='titre'>(#ENV{titre})</h3>]
		[<div class='texte'>(#ENV{texte})</div>]
	</div>
	<div class="adressage_carte">
		<h4 class='destinataire'><:carte_postale:legend_destinataire:></h4>
		[<div class='nom_destinataire'>(#ENV{nom_destinataire})</div>]
		[<div class='email_destinataire'>(#ENV{email_destinataire})</div>]

		[(#ENV{nom_expediteur,#ENV{email_expediteur}}|oui)
		<h4 class='expediteur'><:carte_postale:legend_expediteur:></h4>
		[<div class='nom_expediteur'>(#ENV{nom_expediteur})</div>]
		[<div class='email_expediteur'>(#ENV{email_expediteur})</div>]
		]
	</div>
</div>
</div>


<style type='text/css'>
.formulaire_carte_postale .formulaire_previsualisation {
	border: 2px dashed #ff8900;
	margin: 5px;
	text-align:center;
}
#carte_postale {
	text-align:center;
	font-size:14px;
	font-family:verdana;
}

#carte_postale_verso {
	font-size:14px;
	text-align:left;
	background: url([(#CHEMIN{images/cp/verso.png}
		|image_reduire{640,440}
		|image_reduire{#CONFIG{carte_postale/redimensionnement,450}}
		|extraire_attribut{src}|url_absolue)]) no-repeat top left;
	width: [(#CONFIG{carte_postale/redimensionnement,450})px];
	height: 310px;
	overflow:auto;
	border:1px solid #aaa;
	margin:10px auto;
}
#carte_postale_verso .contenu_carte {
	width: 200px;
	padding: 15px;
	float:left;
}
#carte_postale_verso .contenu_carte .texte {
	line-height:1.3em;
	font-size:14px !important;
}
#carte_postale_verso .adressage_carte {
	width: 170px;
	padding: 110px 0px 15px 20px;
	float:left;
}
#carte_postale_verso h4{margin:20px 0 4px 0; padding-bottom:2px; border-bottom:2px solid #aaa;}
</style>
