<B_imgs>
<BOUCLE_imgs(DOCUMENTS){id_article}{extension IN jpg,png}>
	<BOUCLE_first(CONDITION){si (#_imgs:COMPTEUR_BOUCLE|=={1})}>
		[(#SET{defaut,[(#ENV{valeur,#ID_DOCUMENT})]})]
		<div class="selection_image_article">
			<BOUCLE_image(CONDITION){si (#GET{defaut}|=={#ID_DOCUMENT})}>
				[(#_imgs:FICHIER
					|image_reduire{#CONFIG{carte_postale/saisie_taille_selection,340}})]
			</BOUCLE_image>
				<BOUCLE_imgage_selectionne(DOCUMENTS){id_document=#GET{defaut}}{extension IN jpg,png}>
				[(#FICHIER
					|image_reduire{#CONFIG{carte_postale/saisie_taille_selection,340}})]
				</BOUCLE_imgage_selectionne>
			<//B_image>
		</div>
	</BOUCLE_first>
	<div class="choix image_article">
		<label for="#ENV{nom}_#ID_DOCUMENT">
			[(#FICHIER
				|image_reduire{#CONFIG{carte_postale/saisie_taille_vignette,60}})]
		</label>
		<input type="radio" name="#ENV{nom}" class="radio" value="#ID_DOCUMENT" id="#ENV{nom}_#ID_DOCUMENT" [(#GET{defaut,0}|=={#ID_DOCUMENT}|oui) checked="checked" ] />
	</div>
</BOUCLE_imgs>
<script type='text/javascript'>
;(function($){
$(document).ready(function(){
	$('.image_article input.radio').change(function(){
		if ($(this).is(':checked')) {
			$(this).parent().parent()
				.find('.selection_image_article')
				.load('[(#URL_PAGE{carte_postale_document})]',{ 
					'id_document': $(this).val()
				});
		}
	});
});	
})(jQuery);

</script>
</B_imgs>
