[(#AUTORISER{configurer,_carte_postale}|sinon_interdire_acces)]

<h1 class='grostitre'><:carte_postale:cfg_titre_carte_postale:></h1>

<p><:carte_postale:cfg_descriptif_carte_postale:></p>

<div class="ajax">
#FORMULAIRE_CONFIG_CARTE_POSTALE
</div>
